<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="login.png" alt="Avatar" style="text-align: center; margin: 24px 0 12px 0; position: relative;" class="avatar">
    <form method="POST" action="/login">
        <input placeholder="username" style=" width: 100%;padding: 12px 20px; margin: 8px 0;display: inline-block; border: 1px solid #ccc; box-sizing: border-box;"  name="username">
        <input type="password"  style=" width: 100%;padding: 12px 20px; margin: 8px 0;display: inline-block; border: 1px solid #ccc; box-sizing: border-box;" placeholder="password" name="password">
        <input type="submit" style=" background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;cursor: pointer; width: 100%;">
    </form>
    <a href="signup"><h5>New User?Signup</h5>  </a>
</body>
</html>