<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <img src="login.png" alt="Avatar" style="width: 10%; text-align: center; margin: 24px 0 12px 0; position: relative; border-radius: 20%;" class="avatar">

    <form method="POST" action="/signup">
        <input placeholder="First Name" style=" width: 100%;padding: 6px 10px; margin: 4px 0;display: inline-block; border: 1px solid #ccc; box-sizing: border-box;" name="firstName">
        <input placeholder="Last Name" style=" width: 100%;padding: 6px 10px; margin: 4px 0;display: inline-block; border: 1px solid #ccc; box-sizing: border-box;" name="lastName">        
        <input placeholder="username" style=" width: 100%;padding: 6px 10px; margin: 4px 0;display: inline-block; border: 1px solid #ccc; box-sizing: border-box;" name="username">
        <input type="password" placeholder="password" style=" width: 100%;padding: 6px 10px; margin: 4px 0;display: inline-block; border: 1px solid #ccc; box-sizing: border-box;" name="password">
        <input type="submit" style=" background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;cursor: pointer; width: 100%;">
    </form>
</body>
</html>